@import url("./fonts/iosevka-aile-custom.css");
@import url("./themes/espresso.css");

*, *:before, *:after {
    box-sizing: inherit;
    font: inherit;
}

html {
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    background: var(--base00);
    color: var(--base07);
    font: 300 17px/1.6 "Iosevka Aile Custom", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: "calt" 0;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
}

/*@import url("./dialog.css");*/

dialog {
    background: var(--base01);
    border: 10px solid var(--base02);
    color: var(--base07);
    margin: 0 auto;
    max-height: 70vh;
    overflow-y: auto;
    overscroll-behavior: none;
    padding: 3rem;
    position: relative;
    top: 10vh;
    width: 70vw;
}

    dialog::backdrop {
        background: rgba(0, 0, 0, 0.4);
    }

    dialog button {
        background: var(--base02);
        border: none;
        border-radius: .5em;
        cursor: pointer;
        display: block;
        outline: none;
        padding: .5rem;
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
    }

        dialog button svg {
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            stroke: var(--base06);
            stroke-width: 1px;
        }

    dialog h1 {
        text-align: center;
    }

/*@import url("./loader.css");*/

.loader-box {
    height: 50px;
    margin: 88px 0;
}

.loader,
.loader:before,
.loader:after {
    animation: loader 1s infinite ease-in-out;
    background: var(--base07);
    color: var(--base07);
    height: 40px;
    width: 10px;
}

.loader {
    animation-delay: -0.16s;
    margin: 0 auto;
    position: relative;
    transform: translateZ(0);
}

    .loader:before,
    .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

    .loader:before {
        animation-delay: -0.32s;
        left: -15px;
    }

    .loader:after {
        left: 15px;
    }

@keyframes loader {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 40px;
    }

    40% {
        box-shadow: 0 -20px;
        height: 50px;
    }
}

/*@import url("./progress.css");*/

.progress-bar {
    background: var(--base0D);
    top: 0;
    height: 5px;
    left: 0;
    position: fixed;
    width: 0;
}

    .progress-bar.loading {
        animation: loading cubic-bezier(0.0, 0.0, 0.05, 1.0) 30s;
    }

    .progress-bar.loaded {
        animation: loaded ease-out 1s;
    }

@keyframes loading {
    0% {
        height: 5px;
        opacity: 1;
        width: 0%;
    }

    100% {
        height: 5px;
        opacity: 1;
        width: 100%;
    }
}

@keyframes loaded {
    0% {
        height: 5px;
        opacity: 1;
        width: 100%;
    }

    100% {
        height: 0;
        opacity: 0;
        width: 100%;
    }
}

/*@import url("./links.css");*/

a {
    color: var(--base0A);
    text-decoration: none;
}

    a:active,
    a:hover {
        text-decoration: underline;
        color: var(--base07);
    }

    a[href^='http://example.com/.well-known/genid/'] {
        color: var(--base05);
    }

    a[href='http://www.w3.org/2002/07/owl'],
    a[href^='http://www.w3.org/2002/07/owl#'],
    a[href^='http://www.w3.org/ns/shacl#'] {
        color: var(--base0B);
    }

    a[href^='https://brickschema.org/schema/Brick#'],
    a[href^='https://brickschema.org/schema/BrickShape#'] {
        color: var(--base0C);
    }

    a[href='https://w3id.org/rec'],
    a[href^='https://w3id.org/rec#'] {
        color: var(--base0D);
    }

    a[href='http://www.w3.org/1999/02/22-rdf-syntax-ns'],
    a[href^='http://www.w3.org/1999/02/22-rdf-syntax-ns#'],
    a[href='http://www.w3.org/2000/01/rdf-schema'],
    a[href^='http://www.w3.org/2000/01/rdf-schema#'] {
        color: var(--base0E);
    }

    a[href='http://www.w3.org/2001/XMLSchema'],
    a[href^='http://www.w3.org/2001/XMLSchema#'] {
        color: var(--base0F);
    }

nav a[href='http://www.w3.org/2002/07/owl#Thing'] .rdf-iri-localname {
    border: 2px solid var(--base0B);
    border-radius: 4px;
    padding: 3px 5px 2px;
}

nav a[href='http://www.w3.org/2000/01/rdf-schema#Resource'] .rdf-iri-localname {
    border: 2px solid var(--base0E);
    border-radius: 4px;
    padding: 3px 5px 2px;
}
