nav {
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100vh;
    left: 0;
    padding: 1.5em 2px 1em 1em;
    position: fixed;
    top: 0;
    width: 25vw;
    box-sizing: border-box;
}

    nav p {
        font-size: larger;
        margin: 0;
    }

    nav .tabview {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0;
    }

    nav .tabview-pages {
        background: var(--base01);
        border: 1px solid var(--base02);
        padding: 1.5rem 0.5rem 5rem;
        overflow: auto;
        flex-grow: 1;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav .logo a {
        color: var(--base07);
        text-decoration: none;
    }

.search-container {
    position: relative;
}

#search {
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: inherit;
    box-sizing: border-box;
}

#results {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #2d2d2d;
    position: absolute;
    z-index: 1000;
    display: none;
}

    #results ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #results li {
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

        #results li:hover {
            background-color: #474747;
        }
